.panel-agency{
	.row__buttons{
		.col__buttons{
			padding-left:30px;
			padding-top:20px;
		}
	}
	.row__contacts{
		margin-top:20px;
		.page-header__contacts{
			margin-bottom:20px;
		}
	}
	.row__meetings{
		.page-header__meetings{
			margin-bottom:20px;
		}
	}
	.row__contracts{
		.page-header__contracts{
			margin-bottom:20px;
		}
	}
}