.col__cruise-availability {
    width: 41%;
}

.input-group__date-searching {
    width: 45%;
    float: right;
}

.col__golden-day.col__golden-day-dashboard-manager .xdsoft_datetimepicker.xdsoft_inline {
    width: 100%;
}
