<?xml version="1.0" encoding="utf-8" ?> 
<bundles version="1.0">
  <styleBundle path="~/bundles/allcss/">
    <include path="~/css/normalize/v5.0.0/normalize.css" />
    <include path="~/css/jqueryui/v1.12.1/jquery-ui.min.css"/>
    <include path="~/css/bootstrap/v3.3.7/bootstrap.min.css"/>
    <include path="~/css/datetimepicker/v2.5.4/jquery.datetimepicker.min.css"/>
    <include path="~/css/mo/main.css"/>
    <include path="~/css/mo/main1.css"/>
    <include path="~/css/colorbox/v1.6.4/colorbox.css"/>
    <include path="~/css/mo/non-responsive.css"/>
    <include path="~/css/datatable/v1.10.16/datatables.bootstrap.min.css"/>
    <include path="~/css/fontawesome/v5.9.0/all.min.css"/>
  </styleBundle>
</bundles>