<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<!-- Database -->

		<!-- SQL Server settings -->
		<!--<connectionString>Server=mo.orientalsails.com; Database=moorientalsails; Uid=thieu; Pwd=123456;</connectionString>-->
		<!--<connectionString>Server=203.113.174.12\MSSQLSERVER2019,1437; Database=orientalsails; Uid=orientalsails; Pwd=4y7W75^kt;</connectionString>-->
		<!--<connectionString>Server=localhost; Database=oriental; Uid=sa; Pwd=@#$sa123456;</connectionString>-->
		<!--<connectionString>Server=103.7.40.252\SQLEXPRESS,53803; Database=moos; Uid=moos; Pwd=atm123$$$;</connectionString>-->
		<!--<connectionString>Server=202.92.4.161\MSSQLSERVER2019, 1437; Database=mo1; Uid=mo1os; Pwd=Acs9v6*84;</connectionString>-->
		<connectionString>Server=112.78.2.112\MSSQLSERVER2019,1433; Database=moo38486_orientalsails; Uid=moo38486_os; Pwd=@#$Matbao1992;</connectionString>
		<nhibernateDriver>NHibernate.Driver.SqlClientDriver</nhibernateDriver>
		<nhibernateDialect>NHibernate.Dialect.MsSql2005Dialect</nhibernateDialect>
		<!--			
		PostgreSQL settings
		<connectionString>Server=localhost;Port=5432;Database=cuyahoga;uid=;pwd=</connectionString>
		<nhibernateDriver>NHibernate.Driver.NpgsqlDriver</nhibernateDriver>
		<nhibernateDialect>NHibernate.Dialect.PostgreSQLDialect</n4hibernateDialect>
		-->
		<!--	  
		MySQL settings
		<connectionString>server=localhost;database=cuyahoga;uid=;pwd=;</connectionString>
		<nhibernateDriver>NHibernate.Driver.MySqlDataDriver</nhibernateDriver>
		<nhibernateDialect>NHibernate.Dialect.MySQLDialect</nhibernateDialect>
		-->

		<!-- Email. -->
		<!-- Important: also update services.config when setting port, username, password and encoding -->
		<smtpHost>mail.orientalsails.com</smtpHost>
		<!-- required-->
		<smtpPort></smtpPort>
		<smtpUsername>mo@orientalsails.com</smtpUsername>
		<smtpPassword>EGGaXBwuEWa+</smtpPassword>
		<emailEncoding></emailEncoding>
		<!-- iso-8859-1, utf-8, us-ascii, etc.  -->

		<!-- 
		Location for temporary files in transactional uploads. 
		When left empty, The TEMP environment variable is used to lookup the temp directory. 
		-->
		<tempDir></tempDir>

	</properties>
</configuration>
